.footer {
  box-sizing: border-box;
  color: inherit;
  font-size: 12px;
  left: 50%;
  padding: 1rem 0; 
  position: absolute;
  text-align: center;
  top: calc(50% + 247.2px);
  transform: translate(-50%);
  width: 300px;
}

.footer__link {
  color: var(--grayish-blue);
  font-weight: 600;
  text-decoration: none;
}

.footer__link:hover {
  color: var(--cyan);
}