.container {
  background-color: var(--card-background);
  border-radius: 10px;
  box-sizing: border-box;
  left: 50%;
  width: 300px;
  min-height: 300px;
  padding: 1rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

[data-form].submit {
  display:none;
}

.img {
  background: var(--btn) url(../images/icon-star.svg) no-repeat center;
  border-radius: 100%;
  box-sizing: border-box;
  height: 35px;
  padding: 1rem;
  width: 35px;
}

.title {
  color: var(--white);
  font-weight: 700;
  font-size: 1.35rem;
  margin: 1.4rem 0 1rem;
}

.text {
  line-height: 1.15rem;
  font-size: 13px;
}

.grades {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0;
}

.grade {
  background: var(--btn);
  border-radius: 100%;
  color: var(--light-grey);
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  height: 12px;
  padding: .8rem;
  text-align: center;
  transition: all .25s ease-in-out; 
  width: 12px;
}

.grade:hover {
  background: var(--light-grey);
  color: var(--white);
}

.grade:active,
.grade.active  {
  background-color: var(--orange);
  color: var(--white);
}

.btn {
  background-color: var(--orange);
  border-radius: 50px;
  border: none;
  color: var(--white);
  cursor: pointer;
  font-weight: 700;
  letter-spacing: .1rem;
  margin-bottom: 1rem;
  padding: .75rem;
  text-transform: uppercase;
  transition: all .25s ease-in-out; 
  width: 100%;
}

.btn:hover{
  background-color: var(--white);
  color: var(--orange);
}

.error {
  color: var(--error);
  display: block;
  font-weight: 700;
  text-align: center;
}

.error-alert,
.btn.error-alert:hover {
  border: 1px solid var(--error);
  background-color: var(--white);
  color: var(--error);
}

@media screen and (min-width: 1024px) {
  .grade {
    font-size: 15px;
    height: 12px;
    width: 12px;
  }

  .container {
    width: 310px;
  }
  
  .text {
    font-size: 12px;
  }
}