.card-footer {
  align-items: center;
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
}

.profile {
  background: url(../../images/image-avatar-resp.png) no-repeat center /contain;
  border: 1px solid var(--white);
  border-radius: 100%;
  height: 30px;
  width: 30px;
}

.credits {
  font-size: 14px;
}