.card {
  background: var(--card-bg);
  border-radius: 15px;
  box-sizing: border-box;
  height: auto;
  margin: 3rem auto 0;
  padding: 1rem;
  position: relative;
  width: 300px;
}

.link {
  color: var(--white);
  transition: all 200ms ease-in-out;
}

.link:hover {
  color: var(--cyan);
  cursor: pointer;
}