.footer {
  color: var(--dark-blue);
  font-size: 12px;
  text-align: center;
  margin-bottom: 1rem;
}

.footer__link {
  color: var(--grayish-blue);
  font-weight: 700;
  text-decoration: none;
}

.footer__link:hover {
  color: rgb(64, 158, 106);
}

@media screen and (min-width: 1024px) {
  .footer {
    font-size: 1rem;
    margin-top: 2rem;
  }
  
}