@media screen and (min-width: 1024px) {
  .cards {
    margin: auto;
    width: 100%;
  }

  .cards__list {
    box-sizing: border-box;
    column-gap: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    row-gap: 2rem;
  }

  .cards__item:first-child  {
    align-self: center;
    grid-column: 1;
    grid-row: 1/ span 2;  
    justify-self: center;
  }

  .card:first-child, .card:nth-child(2),  .card:nth-child(3), .card:last-child {
    margin: auto;
  }

  .cards__item:nth-child(2) {
    align-self: flex-end;
    grid-column: 2;
    grid-row: 1;  
  }

  .cards__item:nth-child(3) {
    align-self: flex-start;
    grid-column: 2;
    grid-row: 2;  
  }

  .cards__item:nth-child(4) {
    align-self: center;
    grid-column: 3;
    grid-row: 1/ span 2; 
    justify-self: center;
  }
}

